PyGithub==1.26.0
-e git://github.com/mwaskom/seaborn.git#egg=seaborn
folium==0.1.6
ipyparallel==4.1.0
numpy==1.10.4
matplotlib==1.5.1
requests==2.9.1
beautifulsoup4==4.4.1
wordcloud==1.2
Pillow==3.1.0
pandas==0.17.1